.display {
  position: relative;

  .dailyOrYear {
    font-weight: 600;
    width: 396px;
    display: flex;
    justify-content: space-around;
    margin: 21px auto 0;

    li {
      font-size: 24px;
      padding: 14px 72px 7px;
      cursor: pointer;
    }
  }

  .cards {
    margin-top: 14px;
    height: 81px;
    display: flex;

    li {
      font-size: 2rem;
      text-align: center;
      line-height: 2.5;
      width: 238px;
      height: 100%;
      background: #ccc;
      margin-right: 61px;
    }
  }
}
