.header {
  padding-top: 36px;
  .userList {
    display: flex;
    justify-content: space-between;

    .text {
      padding: 14px;
      padding-bottom: 12px;
      font-size: 20px;
    }
  }

  .menu {
    width: 730px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    justify-content: space-between;

    a {
      display: block;
      font-size: 24px;
    }
  }
}
