* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   outline: 1px solid #f00;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  height: 163px;

  .container {
    max-width: 1723px;
    margin: 0 auto;
    padding-top: 37px;

    .userList {
      display: flex;
      justify-content: space-between;

      .text {
        padding: 14px;
        font-size: 20px;
      }
    }

    .menu {
      width: 550px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      li {
        font-size: 1.5rem;
      }
    }
  }
}
