@use './mainVariable';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  @include mainVariable.reset();
  color: mainVariable.$font-primary-color;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  padding: 0 calc((100% - 93.75%) / 2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('https://frontendstaticfile.blob.core.windows.net/station/20220331T164422-2020034.jpeg')
    center/ cover;
  background: url('https://media.discordapp.net/attachments/993322705799630859/1017276872201093120/unknown.png')
    center/ cover;
  // background: url('https://dsegomspoc.azurewebsites.net/public/img/system-default-background.jpg')
  //   center/ cover;
  // background: url('../../dist/bgc/asphalt-road-with-4k-space-0v5n16yl6frmmvnk.jfif')
  //   center/ cover;
  %commonContainer {
    width: 93.75%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 60px 60px 0px 0px;
    // backdrop-filter: blur(5px);
  }

  .component_container {
    @extend %commonContainer;
    background: rgba(255, 255, 255, 0.55);
    height: calc(100vh - 345px);
    border-width: 1px 1px 0px 1px;
  }

  .current_container {
    @extend %commonContainer;
    background: rgba(255, 255, 255, 0.7);
    height: calc(100% - 363px);
  }

  .shrink_hidden {
    flex-grow: 1;
    overflow-y: hidden;
    margin: 0 66px;
    z-index: 20;
  }

  .shrink_scroll {
    flex-grow: 1;
    overflow-y: scroll;
    @include mainVariable.scrollbar(
      mainVariable.$scrollbar-track-color,
      mainVariable.$scrollbar-thumb-color
    );
    margin: 0 66px;
    z-index: 20;
  }

  .sorting {
    display: flex;
    justify-content: flex-end;
  }
}
