.filterBox {
  position: absolute;
  right: 0;
  top: 25px;

  input {
    height: 25px;
    width: 223px;
  }

  ul {
    margin-top: 31px;
    display: flex;
    justify-content: flex-end;

    li {
      width: 47px;
      height: 49px;
      border-radius: 50%;
      background-color: #ddd;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
