@use '../mainVariable';

%row {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.genre_stations {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 5rem;
  padding-top: 3.5rem;

  .chart {
    width: 50%;
    position: relative;

    .info {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 6.125rem 0.7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        .title {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 3.125rem;
        }

        .source {
          font-size: 1.25rem;

          li {
            .small {
              font-size: 0.875rem;
            }
          }
        }
      }

      .legend {
        .item {
          padding-bottom: 0.5rem;

          .symbol {
            display: inline-block;
            vertical-align: text-top;
            width: 93px;
            height: 18px;
            margin-right: 0.75rem;
          }
        }
      }
    }
  }

  .table {
    width: 50%;
    height: 100%;
    font-size: 1.25rem;

    .table_header {
      width: 100%;
      height: calc((59px / 493.812px) * 100%);
      display: flex;
      padding: 1rem 1.5rem;
      border-bottom: 2px solid #676767;
      top: 0;

      .name {
        width: 40%;
      }

      .type {
        width: 10%;
      }

      .dcc {
        width: 20%;
        text-align: end;
      }

      .energy {
        text-align: right;
        width: 30%;
      }
    }

    .table_body {
      height: calc(100% - ((59px / 493.812px) * 100%));
      @include mainVariable.scrollbar(
        mainVariable.$scrollbar-track-color,
        mainVariable.$scrollbar-thumb-color
      );

      .row {
        width: 100%;
        display: flex;
        padding: 0 1.5rem;

        & + .row {
          border-top: 1px solid #c2c2c2;
        }

        .row_name {
          @extend %row;
          width: 40%;
          padding-right: 3rem;
        }

        .row_type {
          @extend %row;
          width: 10%;
          display: flex;
          align-items: center;
        }

        .row_dcc {
          @extend %row;
          @extend .row_type;
          width: 20%;
          justify-content: end;
        }

        .row_energy {
          @extend %row;
          @extend .row_dcc;
          width: 30%;
        }
      }
    }
  }
}
