@use '../mainVariable';

.header_bottom {
  margin-top: 1.75rem;

  .capacity_name {
    font-size: 2.375rem;
    padding-right: 1.75rem;
  }

  .capacity_value {
    @include mainVariable.capacity_value;
  }
}
